@media screen and (min-width: 1200px){
    .product h1{
        text-align: center;
        color: white;
        font-size: xx-large;
    }
    .product-list {
        text-align: center;
        list-style: none; /* Elimina los puntos de la lista */
        padding-left: 0; /* Elimina el padding izquierdo */
        color: white;
        margin-left: 500px;
        display: flex;
        flex-direction: column;
    }
    .product-list li{
        font-size: xx-large;
        width: 700px;
        border: black 1px solid;
        margin-top: 10px;
        background-color: rgb(53, 50, 50);
    }
    .product-list li .discount p{
        margin-top: 10px;
    }
    .discount{
        margin-top: 5px;
    }
    .product-list li img{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        top: -30px;
    }
    #quantity {
        width: 50px;
        height: 30px;
        border-radius: 5px;
    }
    .fas.fa-trash {
        color: red;
        cursor: pointer;
        position: relative;
        display: grid;
        margin: auto;
        top: -20px;
        font-size: xx-large;
    }
    .discount-code{
        text-align: center;
        color: white;
        font-size: xx-large;
        margin-top: 20px;
    }
    .discount-code input{
        width: 15%;
        font-size: x-large;
        margin-right: 5px;
    }
    .discount-code input[type="button"]{
        font-size: x-large;
    }
    .add{
        position: relative;
    }
    .related{
        text-align: center;
        color: white;
        font-size: xx-large;
        margin: auto;
        border: solid black 2px;
        width: 70%;
    }
    .product-related{
        width: 90%;
        display: grid;
        margin: auto;
    }
    .product-related h5{
        text-align: center;
    }
    .product-related img{
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: -20px;
    }
    .total-payment{
        text-align: center;
        color: violet;
        font-size: xx-large;
    }
    .button{
        border-radius: 5px;
        background-color: white;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: -20px;
    }
    .button a{
        text-decoration: none;
        color: black;
        width: 100%;
        font-size: x-large;
    }
    .way{
        text-align: center;
        margin-top: 20px;
        font-size:xx-large;
    }
    .way a{
        text-decoration: none;
        color: violet;
        text-shadow: black 5px 2px 2px;
    }
    .info{
        width: 90%;
        margin: auto;
        border: solid 1px black;
        box-shadow: black 2px 2px 2px;
        margin-top: 10px;
        font-size: x-large;
        color: white;
    }
    .info input{
        font-size: x-large;
    }
    .info p select{
        font-size: x-large;
    }
    .info-lastname{
        margin-top: -58px;
        margin-left: 450px;
    }
    .info-email{
        margin-top: -58px;
        margin-left: 60%;
    }
    .info-country{
        margin-top: -58px;
        margin-left: 29.5%;
    }
    .info-country select{
        width: 345px;
    }
    .info-province{
        margin-top: -58px;
        margin-left: 60%;
    }
    .info-province input{
        width: 257px;
    }
    .info-postal{
        margin-top: -58px;
        margin-left: 29.5%;
    }
    .info-postal input{
        width: 280px;
    }
    .button-before{
        border-radius: 5px;
        background-color: white;
        width: 40%;
        margin-left: 82px;
        text-align: center;
        margin-top:20px;
        box-shadow: black 2px 2px 2px;
        font-size: x-large;
    }
    .button-before a{
        text-decoration: none;
        color: black;
    }
    .button-after{
        border-radius: 5px;
        background-color: white;
        width: 40%;
        margin: 10px;
        text-align: center;
        margin-left: 55%;
        margin-top: -50px;
        box-shadow: black 2px 2px 2px;
        font-size: x-large;
    }
    .button-after a{
        text-decoration: none;
        color: black;
    }
    .master{
        border-style: solid;
        flex-direction:column;
        display: flex;
        margin: auto;
        width: 99%;
    }
    .master img{
        width: 20%;
    }
    .master p{
        margin-left: 10px;
        margin-top: 5px;
    }
    .master .-card-number{
        width: 20px;
    }
    .master p input{
        width: 40%;
    }
    .master .name{
        margin-top: 20px;
        width: 50%;
        font-size: x-large;
    }
    .master .name input{
        font-size: x-large;
    }
    .master .last-name{
        width: 70%;
        margin-top: -57px;
        margin-left:30%;
        font-size: x-large;
    }
    .master .last-name input{
        font-size: x-large;
    }
    .master .card-number{
        font-size: x-large;
    }
    .master .card-number input{
        font-size: x-large;
        width: 20%;
    }
    .master .expiration{
        font-size: x-large;
        margin-top: -3.5%;
        margin-left: 32%;
    }
    .master .expiration input{
        font-size: x-large;
        width: 7%;
    }
    .master .security-code{
        font-size: x-large;
    }
    .master .security-code input{
        font-size: x-large;
        width: 5%;
    }
    .cards div{
        margin-top: 10px;
    }
    .paypal{
        border-style: solid;
        flex-direction:column;
        display: flex;
        margin: auto;
        width: 99%;
    }
    .paypal img{
        width: 20%;
    }
    .skrill{
        border-style: solid;
        flex-direction:column;
        display: flex;
        margin: auto;
        width: 90%;
        width: 99%;
    }
    .skrill img{
        width: 20%;
        background-color: white;
    }
    .button-payment{
        border-radius: 5px;
        background-color: white;
        width: 40%;
        margin: 10px;
        text-align: center;
        margin-left:55%;
        margin-top: -50px;
        box-shadow: black 2px 2px 2px;
        font-size: x-large;
    }
    .button-payment a{
        text-decoration: none;
        color: black;
    }
}