/* Escritorio grande */
@media screen and (min-width: 1200px){
    body {
        background-color: blueviolet;
        margin: 0;
        padding: 0;
    }
    .logo{
        font-family: twitchy-tv;
        color: white;
        text-shadow: 5px 5px 1px #6441A5;
        text-decoration: none;
        font-size:x-large;
      }
      /*Menú Hamburguesa*/
      .logo,
      .content {
        color: #fafafa;
      }
      .nav {
        width: 100%;
        background-color: #1a1a1a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        z-index: 3;
      }
      .logo,
      #hamburger {
        margin: 2%;
      }
      #hamburger {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.25s linear;
        width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
        height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
        display: flex;
        align-items: center;
      }
      
      #hamburger:hover {
        opacity: 1;
      }
      
      #hamburger div,
      #hamburger div:after,
      #hamburger div:before {
        background-color: #fafafa;
        border-radius: 10px;
        width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
        height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
        transition: all 0.15s linear;
      }
      
      #hamburger div:before,
      #hamburger div:after {
        content: "";
        position: absolute;
      }
      
      #hamburger div:before {
        transform: translateY(-200%);
      }
      
      #hamburger div:after {
        transform: translateY(200%);
      }
      
      #hamburger.open div {
        background: transparent;
      }
      
      #hamburger.open div:before {
        transform: rotate(45deg);
      }
      
      #hamburger.open div:after {
        transform: rotate(-45deg);
      }
      
      #overlay {
        position: fixed;
        width: 100%;
        min-height: 100%;
        background-color: #1a1a1a;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #overlay.menu {
        transform: translateY(0%);
      }
      #overlay ul{
        list-style: none;
        width: 50%;
        padding-left: 0;
      }
      #overlay ul li{
        margin-top: 5%;
      }
      #overlay a {
        text-decoration: none;
        color: #fafafa;
        font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
        margin: 2%;
        opacity: 0.5;
        transition: opacity 0.2s linear;
        width: 20%;
      }
      
      #overlay a:hover {
        opacity: 1;
      }
          /*Carrito*/
          #cart {
            position: absolute;
            right: 150px;
            top: 35px;
            font-size:50px;
            z-index: 9999;
        }
        #cart-content {
            position: absolute;
            right: 0;
            top: 100%;
            background-color: #333; /* Cambia el fondo a gris oscuro */
            /* Añade más estilos aquí para personalizar la apariencia del contenido del carrito */
        }
        .product-list {
            list-style: none; /* Elimina los puntos de la lista */
            padding-left: 0; /* Elimina el padding izquierdo */
            width: 300px;
        }
        .product-list li{
            border: solid 2px black;
            font-size: smaller;
        }
        /*Carrito*/
    .container {
        display: grid;
        height: 10%;
    }
    .container_content {
        background-color: #3a3939;
        width: 100%;
        margin:0 auto;
    }
    div > img{
        width: 12em;
        height: 10em;
        margin-left: 1.5em;
        margin-top: 0.5em;
    }
    .products{
        width: 1366px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        margin-left: 15em;
    }
    .products  p{
        display: grid;
        margin: auto;
        font-size: large;
        margin-top: 1em;
    }
    .products  div{
        background-color: white;
        height: 90%;
        width: 100%;
        margin-top: 1em;
    }
    .products img{
        width: 21.1em;
        height: 15em;
        display: grid;
        margin: auto;
        margin-top: -1em;
    }
    .products  button{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .promo{
        width: 99%;
        display: grid;
        margin: auto;
        text-align: center;
        background-color: red;
        height: 4%;
        margin-top: 5em;
    }
    .products_promo{
        width: 1366px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        margin-left: 15em;
    }
    .products_promo  p{
        display: grid;
        margin: auto;
        margin-top: 1em;
    }
    .products_promo  div{
        background-color: white;
        height: 90%;
        width: 100%;
        margin-top: 2em;
    }
    .products_promo img{
        width: 21.1em;
        height: 15em;
        display: grid;
        margin: auto;
        margin-top: -1em;
    }
    .products_promo  button{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .products_promo  button a{
        text-decoration: none;
        color: black;
    }
    .elements_catalogue {
        list-style: none;
        display: flex;
        border-style: solid;
        background-color: #333;
        height: 2em;
        width: 97%;
        margin-top: 1%;
    }
    .elements_catalogue > li {
        margin-left: 39em;
        font-size:large;
        color: white;
        margin: auto;
    }
    .user_img {
        border-radius: 50%;
        height: 4em;
        width: 4em;
        margin-top: -3em;
        margin-left: 115em;
        background-image: url(images/pepe.jpeg);
        background-size: cover;
        background-position: center;
    }
    .user_img a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .log_out {
        width: 5em;
        margin-top: -2.5em;
        margin-left:108em;
    }
    .log_out > a {
        text-decoration: none;
        display: inline-block;
        color: black;
        background-color: white;
        font-size: large;
        width: 5.5em;

    }
    .exit {
        width: 5em;
        margin-top: -1em;
        margin-left: 112em;
    }
    .exit > a {
        text-decoration: none;
        display: inline-block;
        width: 4em;
        color: black;
        background-color: white;
        font-size: x-large;
    }
    .container_perfil {
        width: 100%;
        height: 45em;
        margin-top: 0.1em;
        background-color: #6b6a6a;
    }
    .user_config {
        display: grid;
        width:99.7%;
        height: 5em;
        margin: auto;
        background-color: #333;
        color: white;
        text-align: center;
        border-style: solid;
        border-color: black;
        margin-top: 0.5%;
    }
    .user_config > h1{
       display: grid;
       margin: auto;
    }
    .container_passw {
        border-style: solid;
        margin: 2em;
        width: 19em;
        height: 7em;
        text-align: center;
        margin: auto;
        margin-bottom: 5em;
        margin-top: 3em;
    }
    .passw {
        margin-left: 2em;
    }
    .container_email {
        border-style: solid;
        margin: 2em;
        width: 19em;
        height: 7em;
        text-align: center;
        margin: auto;
    }
    .container_email input:valid{
        background-color: lightgreen;
    }
    .container_email input:invalid{
        background-color: lightcoral;
    }
    .container_email input:placeholder-shown{
        border: 1px solid #ccc;
        background-color: transparent;
    }
    .container_landing {
        width: 97%;
        margin: auto;
        margin-top: 0.5%;
        background-color: #6b6a6a;
    }
    .carousel {
        position: relative;
        width: 80%;
        overflow: hidden;
        margin-left: 25em;
    }
    .carousel-inner {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
    }
    .slide {
        flex: 1;
    }
    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .carousel-nav {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .carousel-nav label {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #888;
        margin: 0 5px;
        cursor: pointer;
    }
    .carousel-nav label:hover {
        background-color: #333;
    }
    input[type="radio"] {
        display: none;
    }
    input[type="radio"]:checked ~ .carousel-inner {
        transform: translateX(-33.33%);
    }
    input#slide1:checked ~ .carousel-nav label:nth-child(1),
    input#slide2:checked ~ .carousel-nav label:nth-child(2),
    input#slide3:checked ~ .carousel-nav label:nth-child(3) {
    background-color: #333;
    }
    .notice_products{
        display: grid;
        margin: auto;
        width: 30em;
        height:20em;
        margin-top: 1em;
        background-image: url(images/recompensa.jpg);
        background-size: cover;
        margin-left: 5em;
    }
    .notice_products a{
        width: 99%;
        height: 99%;
        display: block;
        margin: auto;
        text-decoration: none;
        color: white;
        text-align:center;
        font-size: xx-large;
    }
    .notice_products > a > p{
        display: grid;
        margin: auto;
        width: 50%;
        text-align: center;
        text-transform: uppercase;
        background-color: white;
        color: black;
        margin-top: 8.6em;
    }
    .notice_game{
        display: grid;
        margin: auto;
        width: 30em;
        height:20em;
        margin-top: 1em;
        background-image: url(images/recompensa.jpg);
        background-size: cover;
        margin-top: -20em;
        margin-left: 39em;
    }
    .notice_game a{
        width: 99%;
        height: 99%;
        display: block;
        margin: auto;
        text-decoration: none;
        color: white;
        text-align:end;
        font-size: xx-large;
    }
    .notice_game > a > p{
        display: grid;
        margin: auto;
        width: 50%;
        text-align: center;
        text-transform: uppercase;
        background-color: white;
        color: black;
        margin-top: 8.6em;
    }
    .notice_updates{
        display: grid;
        margin: auto;
        width: 30em;
        height:20em;
        margin-top: 1em;
        background-image: url(images/recompensa.jpg);
        background-size: cover;
        margin-top: -20em;
        margin-left: 73em;
    }
    .notice_updates a{
        width: 99%;
        height: 99%;
        display: block;
        margin: auto;
        text-decoration: none;
        color: white;
        text-align:end;
        font-size: xx-large;
    }
    .notice_updates > a > p{
        display: grid;
        margin: auto;
        width:80%;
        text-align: center;
        text-transform: uppercase;
        background-color: white;
        color: black;
        margin-top: 8.6em;
    }
    .container_login {
        width: 100%;
        background-color: #6b6a6a;
        display: grid;

    }
    .container_parameters {
        height: 100%;
        width: 20%;
        background: linear-gradient(to bottom, #6b6a6a, #000000);
        display: grid;
        margin: auto;
        margin-top: 5em;
        color: white;
      }
    .imagen img{
        display: grid;
        margin: auto;
        height: 50%;
    }
    .user_name {
        display: grid;
        margin: auto;
        text-align: center;
        margin-top: -15em;
    }
    .user_passwd {
        display: grid;
        margin: auto;
        text-align: center;
        margin-top: -30em;
    }
    .container_boton {
        display: grid;
        margin: auto;
        margin-top: -24em;
    }
    footer {
        background-color: #333;
        color: #fff;
        height: 10em;
        text-align: center;
        width: 100%;
    }
    .footer-section {
        display: inline-block;
        margin: 0 10px;
    }
    h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    /*Apart prod escritorio*/
    .container_img_prod {
        width: 99%;
        display: flex;
    }
    .container_img_prod img{
        width: 50%;
        margin-top: -0%;
    }
    .text_product {
        background-color: white;
        text-align: center;
        font-size: x-large;
        margin: auto;
        margin-left: 5%;
        height: 20%;
    }
    .text_product > p{
        margin-top: 5%;
    }
    .text_product > .code{
        margin-top: 5%;
    }
    .text_product > .code > a{
        text-decoration: none;
        width: 50%;
        color: red;
    }
    .text_product > .container_rating {
        margin-left: -40%;
        margin-top: 28%;
        width: 100%;
    }
    input[type="radio"] {
        display: none;
    }
    label {
        color: grey;
    }
    .clasificacion {
        direction:rtl;
        unicode-bidi: bidi-override;
        margin-left: -41.2%;
        margin-top: -10.5%;
        background-color: white;
        height: 1.5em;
        width: 14.77em;
        text-align: center;
        font-size: 50px;
    }
    label:hover,
    label:hover ~ label {
        color: orange;
    }
      
    input[type="radio"]:checked ~ label {
        color: orange;
    }
    table{
        margin-top: 2%;
        display: flex;
        justify-content: center;
        border-collapse: collapse;
    }
    td{
        border: solid;
        padding: 50px;
        background-color: wheat;
    }
    .other_products{
        width: 100%;
        height: 50%;
    }
    .other_products > h1{
        text-align: center;
        color: white;
    }
    .other_products > img{
        width: 50%;
        height: 50%;
        display: grid;
        margin: auto;
    }
    .formulario{
        color: white;
        position: relative;
        display: grid;
    }
    .formulario > h1{
        text-align: center;
    }
    .comentarios{
        width: 100%;
    }
    .comentarios > h1{
        color: white;
        text-align: center;
    }
    .comentarios > p{
        background-color: white;

    }
}