.mode{
    width: 50%;
    height: 100%;
    display: flex;
    margin: auto;
    margin-left: 70%;
}
.mode span{
    font-size: small;
}
.cont{
    display: flex;
    height: 20%;
}
.container_img_prod {
    width: 195px;
    display: flex;
}
.container_img_prod img{
    width: 120%;
    height: 100%;
}
.text_product {
    width: 50%;
    height:100%;
    background-color: white;
    text-align: center;
    margin-left: 9%;
}
.text_product p{
    margin-top: 20%;
}
.text_product .code{
    margin-top: 25%;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
}

.text_product .code a{
    text-decoration: none;
    color: white;
}

.container_rating {
    height: 10px;
    width: 300px;
    display: flex;
    align-items:center;
    margin-left: -120%;
    margin-top: 80%;
}
input[type="radio"] {
    display: none;
}
label {
    color: grey;
    font-size:large;
}
.clasificacion {
    direction:rtl;
    unicode-bidi: bidi-override;
    background-color: white;
    text-align: center;
    width: 230px;
    height: 35px;
}